.summer-ad {
    background-image: url(girl-in-kayak.jpg);
  }
  
  h1 {
    font-size: 400%;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    color: #fc5c12;
  }

  .trips {
    background-color: hsla(19, 98%, 53%, 0.705);
    margin: 2em;
    padding: 1em;
    width: 20%;
  }

  .trip-ads {
    width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 2em;
  }
  